# Created by .ignore support plugin (hsz.mobi)
### Symfony template
# Cache and logs (Symfony2)
/api/app/cache/*
/api/app/logs/*
!api/app/cache/.gitkeep
!api/app/logs/.gitkeep

# Cache and logs (Symfony3)
/api/var/cache/*
/api/var/logs/*
!api/var/cache/.gitkeep
!api/var/logs/.gitkeep

# Parameters
/api/app/config/parameters.yml
/api/app/config/parameters.ini

# Managed by Composer
/api/app/bootstrap.php.cache
/api/var/bootstrap.php.cache
/api/bin/*
!api/bin/console
!api/bin/symfony_requirements
/api/vendor/

# Assets and user uploads
/api/web/bundles/
/api/web/uploads/

# PHPUnit
/api/app/phpunit.xml
/api/phpunit.xml

# Build data
/api/build/

# Composer PHAR
/api/composer.phar


### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

## My stuff
web/bower_components